#mw_body {
	&.mw_product {
		padding: 0px;
		background-color: $white;
		margin: 0 auto;
		overflow: hidden;

		#contentWrapper {
			margin-top: 0px;
			width: auto;

			#detail {
				.productsDetailsMain {
					#breadCrumb {
						display: none;

						#pagination {
							display: none;
						}
					}

					#productMedia {
						float: none;
						width: auto;
						height: auto;
						display: block;

						// #MainImageRegion {
						// 	text-align: center;

						// 	img {
						// 		width: auto !important;
						// 		height: auto !important;

						// 	}
						// }
						.thumbs-extramedia {
							position: relative;
							top: 0;
							left: 0;
							width: 100%;
							padding: 0px;
							display: inline-block;
							text-align: center;
							z-index: 10000 !important;

							&>ul {
								display: inline-block;
								width: 100%;

								&>li {
									float: none;
									margin: $margin/2 0px;
									display: inline-block;

									.productVideo {
										height: 75px;
									}

									&>a {
										display: inline-block;
										position: relative;
										z-index: 10000 !important;
									}
								}
							}
						}
					}

					#productDsc {
						clear: both;
						float: none;
						width: auto;
						height: auto;
						max-height: 100%;
						display: block;
						border: none;
						padding: $padding $padding*1.5;
						font-size: 14px;
						line-height: 1.54em;

						#back {
							display: none;
						}

						&>h3 {
							margin-bottom: $margin/2;

							span {
								font-size: 17px;
							}
						}
						#title {
							margin: $margin/5 0px;

							span {
								font-size: 20px;
							}
						}

						#prodColor {
							font-size: 17px;
						}

						#prodPricing {
							margin: $margin 0px;
						}

						.productDetailsSKUNumber {
							font-size: 13px;
						}

						.addToBagFilter {
							margin-bottom: $margin;

							#productOptions {
								.filter {
									font-size: 13px;
									margin-right: $margin;

									.sbHolder {
										position: relative;
									}
									.sbSelector {
										padding: $padding/2 $padding;
										display: block;
									}

									.sbToggle {
										@include sprites-arrow_toggle;
										position: absolute;
										top: 7px;
										right: 7px;
									}
									.sbOptions {
										background-color: #1F1B1B;
										padding: $padding/2 0px;

										li {
											padding: $padding/5 0px $padding/2 $padding;
											a {
												color: $gray6;
											}
										}
									}
								}
							}
						}

						#buttonContainer {
							height: auto;
							display: inline-block;
							width: 100%;
							margin-top: $margin;

							&>div {
								display: block !important;
								width: auto !important;
							}

							.btnAddToBag {
								@include btn-black;
								font-family: 'Francois One', Arial, sans-serif;
								width: 180px !important;
								float: none;
							}
							.btnCheckOut {
								@include btn-red;
								font-family: 'Francois One', Arial, sans-serif;
								width: 180px !important;
								float: none;
							}
						}

						#productActions {
							margin-top: 0px;
							margin-bottom: $margin*3;
							text-align: center;

							.wishlistbuttonclass {
								float: none;

								.mw_AddToWishList {
									@include btn-gray;
			            font-family: 'Francois One', Arial, sans-serif;
									width: 180px !important;
									float: none;
									margin: 0px auto;

					        &:after {
					          content: attr(data-title);
						      }
								}
							}
							.sc {
								display: inline-block;
								float: none;
								width: auto;
								font-family: 'Francois One', Arial, sans-serif;
								float: none;
								margin: 0px auto;
								text-transform: uppercase;
								color: $gray7;
								font-size: 16px;
								border-right: 1px solid $gray5;
								padding-right: $padding;
								margin-right: $margin;

								&:after {
				          content: attr(data-title);
					      }
							}
							#fg {
								display: inline-block;
								position: relative;
								width: auto;
								float: none;
								text-align: center;
								right: 0px;
								bottom: 0px;
								font-family: 'Francois One', Arial, sans-serif;
								font-weight: normal;
								font-size: 16px;
							}
						}
						.unorderedDsc {
							display: block;
							width: auto;

							&>ul {
								display: list-item;

								&>li {
									display: list-item;
									width: auto;
									list-style: square inside none;
									margin: $margin/5 0px;
									padding-left: 0px;
								}
							}
						}

						#socialMediaContainer {
							position: relative;
							display: none;
						}
					}

					#alsoBought,
					#recViewed {
						clear: both;

						#headAlsoBought,
						#headRecentlyViewed {
							height: auto;
							padding: $padding*1.5;

							span {
								display: block;
								float: none;
								line-height: 1.3em;

								&.float-right {
									color: $yellow;
								}
							}
						}

						div[data-ur-carousel-component="view_container"] {
							margin: $margin 0px;
							position: relative;

							div[data-ur-carousel-component="scroll_container"] {
								div[data-ur-carousel-component="item"] {
									text-align: center;

									&>a {
										display: inline-block;
									}

									.assocProdDsc {
										&>strong {
											display: block;

											span {
												font-size: 16px;
											}
										}

										&>h3 {
											font-size: 18px;
											display: block;
											margin: $margin/5 0px $margin/2;
										}

										.price-list-text {
											font-size: 14px;
										}
									}
								}
							}

							div[data-ur-carousel-button-type="prev"] {
								position: absolute;
								top: 90px;
								left: 15px;
							}

							div[data-ur-carousel-button-type="next"] {
								position: absolute;
								top: 90px;
								right: 15px;
							}

							span[data-ur-carousel-component="count"] {
								display: none;
							}
						}
					}

					#recViewed {
						#headRecentlyViewed {
							height: auto;
						}
					}
				}
			}
		}
	}
	#mw-img-holder {
		img {
			// height: 400px;
		}
	}
}

#realZOOMImageOuter {
	left: 0% !important;
	width: 200px !important;
	height: 200px !important;
	display: none !important;
	overflow: auto !important;
	-webkit-overflow-scrolling: touch;

}

#realZOOMHighlight {
	display: none !important;
}
