#mw_body {
	&.mw_storelocator {
		padding: $padding*3 $padding*1.5 $padding*5;
		background-color: #fbfaf7;
		width: auto;
		margin: 0 auto;
		
		#contentWrapper {
			margin-top: 0px;
			width: auto;
			
			#locator {
				#locatorContent {
					h1 {
						@include h1;
						font-weight: bold;
						border-bottom: 1px solid $gray6;
						padding: 0px $padding/2 $padding/2;
						@include box-shadow(rgba(white, 0.8) 0px 1px 0px);
					}
					
					#locatorControls {
						
						#byZip,
						#byState,
						#byCountry {
							display: block;
							width: 280px;
							margin: 0 auto;
							float: none;
							padding: $padding 0px;
							
							label {
								font-size: 11px;
							}
							
							.sbHolder {
								position: relative;
								width: auto;
								height: auto;
								float: none;
								margin: 0px;
								background-color: #E8E8E8;
								background-image: none;
								font-size: 14px;
							}
							.sbSelector {
								padding: $padding/2 $padding;
								display: block;
								color: #747474;
								text-transform: capitalize;
								line-height: 24px;
								font-size: 14px;
							}
							
							.sbToggle {
								@include sprites-arrow_toggle;
								position: absolute;
								top: 9px;
								right: 9px;
								background-color: #E8E8E8;
							}
							.sbOptions {
								background-color: #1F1B1B;
								padding: $padding 0px;
								max-height: 100% !important;
								
								li {
									padding: $padding/5 0px $padding/2 $padding;
									
									&.last {
										padding-bottom: 0px;
									}
									
									a {
										color: $gray6;
									}
								}
							}
							
							.relative {
								margin: 0px;
								float: none;
								
								.mw_submit {
									@include btn-black;
			            font-family: 'Francois One', Arial, sans-serif;
									font-size: 16px;
									float: none;
									padding: 7px $padding;
									width: 140px;
									margin: $margin*2 auto $margin;
									position: relative;
									display: block;
									z-index: 0;
									
									&:after {
					          content: attr(data-title);
						      }
						      
						      .button {
							      position: absolute;
				            top: 0;
				            left: 0;
				            width: 100%;
				            height: 100%;
				            z-index: 100;
				            opacity: 1;
				            display: block;
						      }
								}
							}
						}
						
						#byCountry {
							display: block;
							width: 280px;
							margin: 0 auto;
							float: none;
						}
						
						#byZip {
							.inputByZipcode {
								display: inline-block;
								width: 100px;
								height: 33px;
								margin: 0px;
								margin-right: $margin;
								background-color: #E8E8E8;
								padding: $padding/2 $padding;
								color: #747474;
								font-size: 14px;
								border: 1px solid #828282 !important;
							}
							
							.sbHolder {
								display: inline-block;
								width: 170px;
							}
						}
					}
					
					#results {
						border-bottom: 1px solid $gray6;
						@include box-shadow(rgba(white, 0.8) 0px 1px 0px);
						
						#resultsHeader {
							&>h1 {
								padding: 0px 0px $padding*2;
								text-shadow: $text-shadow-white;
								
								.resultscount {
									display: block;
									float: none;
									font-size: 13px;
									margin: 0px 0px 0px;	
								}
							}
						}
						
						.storeLocationsAddress {
							background-image: none;
							
							.locatorItem {
								float: none;
								width: auto;
								border-bottom: 0px dashed $gray6;
								background-color: #E8E8E8;
								margin-bottom: $margin;
								padding: $padding*1.5;
								text-shadow: $text-shadow-white;
								
								&:last-child {
									border-bottom: none;
								}
								
								.ll {
									float: none;
									display: block;
									width: auto;
									min-height: 100%;
									padding-top: 0px;
									
									&>p {
										font-size: 16px;
									}
								}
								.lr {
									float: none;
									display: block;
									width: auto;
									
									h2 {
										font-size: 16px;
										line-height: 1.4em;
										display: block;
										margin-bottom: $margin;
									}
									&>p {
										font-size: 14px;
										line-height: 1.54em;
										
										.phone {
											font-size: 14px;
											line-height: 1.54em;
											display: block;
											margin-top: $margin/2;
										}
										
										.lnkMapDirections {
											font-size: 13px;
											line-height: 1.54em;
											display: block;
										}
									}
								}
								.hr {
									width: auto;
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

embed {
	display: none !important;
}