// URANIUM WIDGET STRUCTURE STYLING
// -----------------------------

// Uranium is a mobile javascript widget library
// learn more => http://uraniumjs.com/

// Togglers (accordions)
[data-ur-toggler-component="content"] {
  display: none;
  &:not([data-ur-state]) {
    display: none;
  }
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Tabs
[data-ur-tabs-component="content"] {
  display: none;
  &:not([data-ur-state]) {
    display: none;
  }
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Simple Carousel
[data-ur-state="hide"] {
  display: none !important;
}

// Carousel
@mixin hero-load-helper($items:1) {
  // Make the first item be visible and the rest be invisible for better UX
  // $items is the fill value
  // if you want multiple items to appear in a slide, change the value above
  [data-ur-carousel-component="scroll_container"]:not([style]) {
    // Once Uranium kicks in, this style won't apply because an inline style will get created
    [data-ur-carousel-component='item'] {
      visibility: hidden;
      @for $i from 1 through $items {
        &:nth-of-type(#{$i}) {
          visibility: visible;
        }
      }
    }
  }
}
[data-ur-carousel-component='view_container'] {
  width: 100%;
  overflow-x: hidden;
  @include hero-load-helper();
}
[data-ur-carousel-component="scroll_container"] {
  display:block;
  clear:both;
  [data-ur-carousel-component="item"] {
    display:inline-block;
    float:left;
  }
  img {
    -webkit-user-drag: none; // needed to work on desktop
  }
}
[data-ur-carousel-component="dots"] {
  text-align:center;
  margin-bottom:10px;
  padding-top: 10px;
  display: block;
  clear: both;
}
[data-ur-carousel-component="dot"] {
  @include border-radius(7px);
  background: black;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.8;
  width: 10px;
  height: 10px;
  &[data-ur-state="inactive"] {
    opacity: 0.3;
  }
}

div[data-ur-carousel-component="button"][data-ur-state="disabled"] {
  opacity: 0.3;
}

div[data-ur-carousel-component="button"] {
	display: inline-block;
	padding: 0px;
	height: 40px;
	width: 40px;
	background-color: rgba($white, 0.20);
	border: 2px solid $gray6;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 15px;
	clear: both;
	text-indent: -9999px;
}

div[data-ur-carousel-button-type="prev"] {
	position: relative;
	
	&:after {
		content:"";
		position: absolute;
		top: 6px;
		left: 9px;
		display: block;
		@include sprites-arrow_left;
	}
}

div[data-ur-carousel-button-type="next"] {
	position: relative;
	
	&:after {
		content:"";
		position: absolute;
		top: 6px;
		right: 9px;
		display: block;
		@include sprites-arrow_right;
	}
}

span[data-ur-carousel-component] {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-top: 15px;
	clear: both;
}
